# Ignorar carpetas y archivos grandes
Model/Generated_Models/
*.keras
*.h5

Dynamic_Data/Frame_Actions/
Dynamic_Data/
Static_Data/

# Ignorar directorios de caché y archivos temporales
__pycache__/
*.pyc
.DS_Store

# Ignorar entornos virtuales
.venv/